.carousel {
    background: rgb(255,255,255);
    background: linear-gradient(93deg, rgb(255,255,255) 2%, rgb(23,44,199) 100%);
    max-height: 350px;
    position: relative;
    top: -55px;
    overflow: hidden;
    margin-bottom: -20px;
}

.cardGroupFanned {
    max-height: 400px;
    position: relative;
    left: 55%;
}

.cardGroupRound {
    position:  relative;
    max-height: 400px;
    left: 70%;
}

.btn-group {
    box-shadow: 0px 1px 16px rgba(23,44,199, .4);
}

.btn {
    border: 1px solid white !important;  
}