.carousel-overlay {
    width: fit-content;
    padding: 24px;
    position: absolute;
    top: 25%;
    left: 15%;
    z-index: 200;
    height: auto;
    background-image: linear-gradient(rgba(20,20,200, .4), rgba(240,240,240,.8));
    color:white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 36px;
    text-align: center;
}