.carousel-overlay {
  width: fit-content;
  padding: 24px;
  position: absolute;
  top: 25%;
  left: 15%;
  z-index: 200;
  height: auto;
  background-image: linear-gradient(
    rgba(20, 20, 200, 0.4),
    rgba(240, 240, 240, 0.8)
  );
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
  border-radius: 36px;
  box-shadow: 0px 0px 12px black;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .carousel-overlay {
    margin: auto;
    margin-top: 20%;
    position: static;
  }
}
